<a href="https://colab.research.google.com/github/slreddy01/code-usecases/blob/main/Day2_Break%2Ccontinue%2CList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#using for loop for continue

for letter in "navami":
  if letter == 'm':
     continue
  else:
    print(letter)
print("thank you")

n
a
v
a
i
thank you

In [ ]:
# using for loop for break

for letter in "navami":
  if letter == 'm':
    break
  else:
    print(letter)
print("thank you")

n
a
v
a
thank you

In [ ]:
#using while loop for break

var = 10
while var >0 :
  var =  var-1
  if var ==3:
    break
  print(var)

print("thank you")

9
8
7
6
5
4
thank you

In [ ]:
#using while loop for continue

var = 5
while var >2:
  var = var-1
  if var ==1:
    continue
  print(var)
print("thank you")

4
3
2
thank you

In [ ]:
animals =[4,60,'tyh']
animals[2]
#type(animals)

list

In [ ]:
for letter in "navami":
  if letter == 'i':
    break
  else:
    print(letter)
print("thank you")

n
a
v
a
m
thank you

In [ ]:
for letter in "manam":
  if letter == 'a':
    break
  else:
    print(letter)
print("bye")
type(letter)

m
bye

str

In [ ]:
list3= ([10,20],[40,'str'])
type(list3)
list2 =[10,20,40]
type(list2)

list

In [ ]:
animals = ['lion','cat','horse']
animals[1] = 'dog'
animals.sort()

animals

['dog', 'horse', 'lion']

# We cannot sort the list if it contains int and string together, it is in single format then only we can sort the **list**

the 6 six list operations in list are reverse,replace, sort, append, replace,delete

In [ ]:
names =['krishna','rama','arjuna','sita','madhava']
#1st operation - replace
#names[4]='bharath'
#names
#names.sort()
#names
#names.append('krish')
#names
#names.reverse()
#names
#print(names.count('krish'))
#new_name = names.copy()
#new_name
#print(names.index('madhava'))  # sol: 4
# if i print like below throws error
#print(names.index('madhava','sita')) #slice indices must be integers or have an __index__ method
#names.extend(['buddha'])

['krishna', 'arjuna', 'sita', 'madhava']

**difference between append() and extend() methods im list,**
append() we can add single element @ end of list , can be any data type including another list, or single element

Extend() is used when we want to add all elements from list,tuple, set  to end of a list
Unlike append(), which adds an entire iterable as a single element, extend() adds each element from the iterable to the list.

In [ ]:
names =['krishna','rama','arjuna','sita','madhava']
names.append('krish')
names

['krishna', 'rama', 'arjuna', 'sita', 'madhava', 'krish']

In [ ]:
names =['krishna','rama','arjuna','sita','madhava']
names.extend('krish')
names

['krishna', 'rama', 'arjuna', 'sita', 'madhava', 'k', 'r', 'i', 's', 'h']

### The `index()` List Method

The `index()` method returns the index of the first occurrence of a specified value within a list.

**Syntax:**

### The `count()` List Method

The `count()` method is used to count the number of occurrences of a specific element within a list.

**Syntax:**

In [ ]:
# Example of using count()
my_list = [1, 2, 2, 3, 4, 2, 5]
count_of_2 = my_list.count(2)
print(f"The list is: {my_list}")
print(f"The number of times 2 appears in the list is: {count_of_2}")

another_list = ['apple', 'banana', 'orange', 'apple', 'grape', 'apple']
count_of_apple = another_list.count('apple')
print(f"\nThe list is: {another_list}")
print(f"The number of times 'apple' appears in the list is: {count_of_apple}")

In [ ]:
#pop method in list will removes and returns the last element of the list.
#if index is not provided pop() will remove the last item from list.
names =['krishna','rama','arjuna','sita','madhava']
names.pop(1)
names

['krishna', 'arjuna', 'sita', 'madhava']