<a href="https://colab.research.google.com/github/slreddy01/code-usecases/blob/main/Day3_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples are similar to list , we can provide indexes, we cannot change anything in tuples means immutable, and it have only 2 methods,
count
index

in list we have 8 methods

In [ ]:
colours = ('pink','blue','orange')
print(colours)
colours.index('pink')
colours.count('pink')

('pink', 'blue', 'orange')

1

count () is used to check how many times the element is use din list or tuple

sequences in python

1.length
2.select
3.slice
4.count
5.index
6.Membership
7.concatenation
8.Min value
9.Max value
10.Sum

Membership operator is like IN , NOT IN
Concatenation used for joining 2 tuples or 2 lists or 2 strings

In [12]:
name = ['0','1','2']
name1 = ['def']
name2= name+name1
print(name2)

['0', '1', '2', 'def']

In [15]:
min(name)
max(name)

'2'

In [17]:
tuple = (4,7,10,3)
sum(tuple)

24

In [18]:
str =('hjhkkl')
len(str)

6

In [31]:
list=[146,89,86]
len(list)
sum(list)

321

In [27]:
tuple =('jkjk','yuyu','fffg')
tuple1=('1','3','4','0','5')
len(tuple)
len(tuple1)

5

sum operation is not used for string
concatenate operation is used for only similar type like list with list,
tuple with tuple
string with string