<a href="https://colab.research.google.com/github/slreddy01/code-usecases/blob/main/Day4_ListAssignment_copying.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## To copy the list , we have to use list constructor ***list()***

Assignment in list is used to assign any other element in list

In [ ]:
my_list =[1,2,4,7,8]
my_list

[1, 2, 4, 7, 8]

In [ ]:
my_list[2]='abc'
my_list

[1, 2, 'abc', 7, 8]

In [ ]:
my_list[5]=1
my_list

IndexError: list assignment index out of range

So if we try to assign to the list which is out of the range, it will throw error like above

list() -- called a list constructor

In [ ]:
my_list2 = ['abc','3','5','9','22']
my_list2

['abc', '3', '5', '9', '22']