<a href="https://colab.research.google.com/github/slreddy01/code-usecases/blob/main/Day6_Variablesipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = "global"
def outer():
  x = 'nonlocal'
  #def inner():
    #nonlocal x
    #x='Local to outer'
  #inner()
  print("outer x:",x)
outer()
print("Global X:",x)

outer x: nonlocal
Global X: global

Global Variables

Local Variables

Lambda Functions

These are anonymus function.we use keyword Lambda.

 Lambda functions are frequently used as arguments to higher-order functions like map(), filter(), sorted(), and reduce(), which take other functions as input

 When to use lambda functions:

For simple, one-time operations that don't warrant a full function definition.
As arguments to higher-order functions where a concise function is needed inline.


Limitations:

Limited to a single expression, restricting their complexity.
Lack of a name can sometimes make debugging more challenging.
Not suitable for complex logic or functions requiring multiple statements.

In [ ]:
# A lambda function to double a number
double = lambda x: x * 2
print(double(5))

# Using a lambda function with map()
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

# Using a lambda function with filter()
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

In [ ]:
sum = lambda var1,var2 : var1+var2
var1=20
var2=30
print(sum(var1,var2))

50

In [ ]:
# here lambda using as a condition in a single line with nested if else

num = lambda x: "positive" if x>0 else "negative" if x<0 else "zero"
print(num(0))
print(num(-1))
print(num(6))

zero
neagtive
positive

In [ ]:
check = lambda num : "even" if num%2 ==0 else "odd"

print(check(20))
print(check(34))

even
even

we can combine lambda with list comprehension

below is the example

In [ ]:
li = [ lambda arg = x:arg*10 for x in range(1,5)]
#  lambda arg = x, captures the current value of x as default
for i in li:
  print(i())

10
20
30
40

In [ ]:
li = [lambda : x * 10 for x in range(1,5)]
# when we have not used arg = x and directly multiplying with x*
print([i() for i in li])

[40, 40, 40, 40]

Lambda function used for only single line, but we can create 2 lambda functions and can call one in each other with parameter inside another one.

In [ ]:
calc = lambda x,y:(x+y,x*y)
res = calc(3,6)
print(res)

(9, 18)

map() is a function which takes in a function and a list as an argument.

In [ ]:
a= [1,2,3,4]
b = map(lambda x : x*2,a)
print(list(b))

In [5]:
a= [2,4,3,5,3,4]
is_pal =a==a[::-1]
print(is_pal)

False

In [14]:
#del list #
a1=[5,6,7,8]
check_pal = a1 == list(reversed(a1))
print(check_pal)

False

In [17]:
a2=[3,7,8,7,3]

check_pal1 = a2 == a2[::-1]
print(check_pal1)

True