<a href="https://colab.research.google.com/github/slreddy01/code-usecases/blob/main/Sets_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS in Python

Sets are mutable, unordered, non duplicated .

Like list and Tuple this is mutable.

this is represented in {}

In [2]:
fruits = {'apple','mango'}
fruits.add('grapes')
print(fruits)

{'mango', 'apple', 'grapes'}

frozenset keyword used for immutable set , we cant add or delete the values in set .

In [4]:
animals=frozenset(['tiger','bear'])
animals
animals.add('cat')
animals

AttributeError: 'frozenset' object has no attribute 'add'

In [5]:
num ={1,2,3,4,5,6,7,8,9,5,6}
num

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
#code to create empty dic
emptyset={}
type(emptyset)

dict

In [9]:
#we cant define empty set in {} because it is already taken by dictionary
emptyset = set()
type(emptyset)

set

In [10]:
num={1,2,3,4}
num1 =set(num)
print(num1)

{1, 2, 3, 4}

set operations

1.Membership
2.add
3.union
4.remove
5.clear
6.Intersection
7.Difference
8.SYM.Difference
9.Size
10.Copy

In [11]:
#membership operation
set1 ={1,2,3}
6 in set1

False

In [12]:
set1= {1,6,9}
6 in set1

True

In [13]:
#remove operation

set1 ={ 6,9,10,12}
set1.remove(9)
set1

{6, 10, 12}

In [15]:
#union operation
# if duplicates are there in both the sets, only single value will be copied

set1 ={8,10,11,17,19}
set2={1,2,19}

set1|set2

{1, 2, 8, 10, 11, 17, 19}

In [16]:
#clear

set1.clear()
set1

set()

In [27]:
#intersection operation  will gives common values between 2 or more sets
#symbol for intersection is &
A = {1,2,3,4,5}
B={1,2,9,10}
A & B

{1, 2}

In [29]:
#minus symbol
#A-B means will give results other than common elements which are in A but not in B


A-B

{3, 4, 5}

In [30]:
#if it is B-A

B-A

{9, 10}

In [31]:
#sym.difference symbol is ^
#will gives results which are not common elements in both sets
A^B

{3, 4, 5, 9, 10}

In [32]:
#size and len() are same
len(A)

5

In [35]:
#copy operation
c= {5,11,12}
A=c.copy()
print(A)

{11, 12, 5}